[workspace]
resolver = "2"
members = [
  "hnsw",
  "brute_force", 
  "eval_glove",
  "vectors", 
  "graph",
  "points"
]

[profile.release]
lto = true
codegen-units = 1

[profile.release-profile]
inherits = "release"
debug = true

[build]
rustflags = ["-C", "target-cpu=native"]
